@charset "utf-8";
/*内置标式*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
button {
  padding: 0px;
  margin: 0px;
}
fieldset,
img,
button {
  border: 0px;
}
img {
  /*background:url(../images/logo.gif) center center #fff;*/
  background: #fff;
}
ol,
ul,
li {
  list-style: none;
}
input,
label,
select,
font,
option,
textarea,
button,
fieldset,
legend {
  font: 12px/18px "微软雅黑", "宋体";
}
table {
  font-size: 12px;
  font-family: "微软雅黑", "宋体";
}
ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
* {
  margin: 0;
  padding: 0;
}
.clearfloat {
  clear: both;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
  overflow: hidden;
}
.clearf {
  zoom: 1;
  overflow: auto;
}
.clear {
  clear: both;
}
body {
  font-size: 12px;
  font-family: "微软雅黑", "宋体";
  background: #eeeeee;
  position: relative;
}

.qq_denglu {
  width: 1000px;
  height: 540px;
  overflow: hidden;
  background: #eeeeee;
}
.qq_bar {
  margin: 0px auto;
  width: 1120px;
}
.qq_bj {
  margin: 0px auto 0px auto;
  width: 672px;
  height: 94px;
  background: url(../images/base/qq_login.jpg) center center no-repeat;
}

.qq_bar {
  position: relative;
  height: 442px;
  margin: 0px auto;
  width: 100%;
  background: #999;
  overflow: hidden;
  background: #ccc;
  background: url(https://img.dnfcity.qq.com/goodsImages/15imgjs/images/base/login_bg.jpg)
    center -100px no-repeat;
}
.qq_denglu {
  height: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -330px;
  background: none;
  background: none;
}

.qq_topbar {
  height: 100px;
  width: 100%;
  background: url(https://img.dnfcity.qq.com/goodsImages/15imgjs/images/base/login_bg.jpg)
    center top no-repeat;
}
.qq_top {
  margin: 0px auto;
  width: 1004px;
  height: 100px;
  position: relative;
}
.qq_top .qq_span {
  display: block;
  width: 200px;
  height: 28px;
  font-size: 22px;
  left: 20px;
  top: 40px;
  line-height: 28px;
  position: absolute;
  color: #fff; /*border-left:2px solid #d2d2d2;*/
  padding-left: 15px;
  display: none;
}
.qq_logo {
  display: block;
  width: 200px;
  height: 76px;
  position: absolute;
  left: -20px;
  top: 14px;
  background: url(https://img.dnfcity.qq.com/goodsImages/15imgjs/images/base/dnflogo.png)
    left center no-repeat;
  background-size: 100%;
}
.qq_memu {
  position: absolute;
  width: 800px;
  top: 42px;
  right: 0px;
  height: 34px;
  text-align: right;
}
.qq_memu .menu_nav {
  display: none;
}
.qq_memu a {
  display: inline-block;
  border: 1px solid #fff;
  line-height: 32px;
  padding: 0px 22px;
  margin-left: 2px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
.qq_memu a:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}
.qq_memu a.nav_ad {
  display: none;
}
/*专题底部样式*/
.top {
  height: 34px;
}
.bottom {
  padding-top: 0px;
}
.helpbar {
  display: none;
}
.bottom_help {
  padding-top: 0px;
}
.bottom_banq {
  border-top: 0px;
}
.bottom_fuwu {
  margin-top: 40px;
}
.menu_right {
  display: none;
}
.right_border,
.bottom_ad,
.right,
right_top {
  display: none;
}
.bottom_fuwu {
  margin-top: 32px;
}
.QQlogin{
  width: 625px;
  height: 400px;
  background: #fff;
  position: absolute;
  top: 0px;
  left:calc(50% - 125px);
  z-index: 999;
}
.loginTitle{
  font-size: 20px;
  color: #333;
  margin-top: 40px;
  text-align: center;
  font-weight: 600;
  font-family:  -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
}
.username{
  width: 272px;
  height: 42px;
  position: absolute;
  top: 142px;
  left: 170px;
}
.passward{
  width: 272px;
  height: 42px;
  position: absolute;
  top: 210px;
  left:170px;
}
.denglu{
  width: 274px;
  height: 40px;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  top: 295px;
  left: 170px;
  background: #86ce2f;
  color: #fff;
  font-family:  -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
}
.zc{
  display: block;
  position: absolute;
  top: 318px;
  right: 126px;    font-family:  -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
}